body {
   /* border: 20px solid #E8E8E8; */
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background-color: #E8E8E8;
}

/*Vision Board */
#vision-board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 60%;
    font-size: 20px;
   background: url("../img/background.png");
   background-size: cover;
    border: 2px solid #E8E8E8;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.block {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Specific Blocks*/
.large-block {
    height: 430px;
    padding-top: 40px;
    flex-flow: column wrap;
    
}

.small-block {
    height: 210px;
}

div.block.large-block.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

}


div.block.small-block.right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.middle {
    background-color: #3b3b3b;
}

.grow {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}


.corner {
    background-color: #fff;
}

span.highlight {
    background-color: #FFF44F;
}


/*Paragraph Styles */

div.block.small-block.right p {
    padding-right: 50px;
    text-align: right;
    margin-top: 0;
}

.grow p {
    margin: 0;
    text-align: left;
    padding-left: 50px;
}

img.travel, p.travel {
    padding-right: 30px;
}

p.title {
    color: #fff;
    font-size: 30px;
    text-align: center;
}

p.travel {
    text-align: right;
}

/*Span styles */
span#year {
    font-family: "Permanent Marker", cursive;
    font-size: 20px;
}
span.highlight {
    background-color: #FFF44F;
}

/*Strong Styles */

strong {
    font-size: 38px;
    line-height: 38px;
}


@media (min-device-width: 768px) {
    #vision-board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 80%;
    font-size: 20px;
   background: url("../img/background.png");
   background-size: cover;
    border: 2px solid #E8E8E8;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
    .block {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#grow {
    order: 1;
}

#flower {
    order: 2;
}

#goals {
    order: 9;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;

}

#freelance {
    order: 6;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column wrap;

}

#vision {
    order: 5;
    width: 40%;
}
#travel {
    order: 7;
    image-orientation: flip;
}

#list {
    order: 8;
    height: 430px;
}

#corgi {
    order: 3;
}
#health {
    order: 4;
    
}
    
}

@media (min-width: 1200px) {
/*General Styles */
body {
    border: 20px solid #E8E8E8;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    width: 100%;
   

}

/*Vision Board */
#vision-board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
    font-size: 20px;
   background: url("../img/background.png");
   background-size: cover;
    border: 2px solid #E8E8E8;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

/*Generic Block */
.block {
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Specific Blocks*/
.large-block {
    height: 430px;
    padding-top: 40px;
    flex-flow: column wrap;
    
}

.small-block {
    height: 210px;
}

div.block.large-block.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

}


div.block.small-block.right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.middle {
    background-color: #3b3b3b;
}

.grow {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}


.corner {
    background-color: #fff;
}

span.highlight {
    background-color: #FFF44F;
}


/*Paragraph Styles */

div.block.small-block.right p {
    padding-right: 50px;
    text-align: right;
    margin-top: 0;
}

.grow p {
    margin: 0;
    text-align: left;
    padding-left: 50px;
}

img.travel, p.travel {
    padding-right: 30px;
}

p.title {
    color: #fff;
    font-size: 30px;
    text-align: center;
}

p.travel {
    text-align: right;
}

/*Span styles */
span#year {
    font-family: "Permanent Marker", cursive;
    font-size: 20px;
}
span.highlight {
    background-color: #FFF44F;
}

/*Strong Styles */

strong {
    font-size: 38px;
    line-height: 38px;
}


}
