/*General Styles */
body {
    background: url("../img/background.png");
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;

}

#vision-board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    height: 850px;
}

.block {
    width: 33%;
    outline: 1px dashed darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.large-block {
    height: 430px;
    padding-top: 40px;
    flex-flow: column wrap;
    
}

.small-block {
    height: 210px;
}

span.highlight {
    background-color: #FFF44F;
}


.middle {
    background-color: #3b3b3b;
}

div.block.small-block.right {
    justify-content: flex-end;
}

div.block.small-block.right p {
    padding-right: 50px;
}
